<style>
  .symbol-input {
      display:inline-block;
  }
</style>

<h3>Choose Stock(s)<h4>{{errorReason}}</h4></h3>
<input class="symbol-input" type='text' ng-model="symbols" />
<button ng-click='clearStocks();loadStocks(symbols)'>Load</button>

<h3>Stocks</h3>
<table class="table">
  <thead>
    <th ng-repeat="s in stocks track by $index"></th>
  </thead>
  <tbody>
      <tr ng-repeat="key in keys track by $index">
        <td>{{key}}</td>
        <td ng-repeat="stock in stocks track by $index">{{stock[key]}}</td>
      </tr>
  </tbody>
</table>
